// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.fm-inline {
  display: inline;
}

.badge-lg {
  font-size: 1.0rem;
}

.avatar {
  width: 128px;
  height: 128px;
}
